* {
  /* border: 1px black solid; */
}

a {
    color: inherit; 
    text-decoration: none; 
  }

.nav-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.logout-nav, 
.nav-title {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-items {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.nav-title img {
    width: 250px;
}

