<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animal Blog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../css/homepage.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/post.css" />
    <link rel="stylesheet" type="text/css" href="../../css/profile.css" />
    <link rel="stylesheet" type="text/css" href="../../css/footer.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <div class="nav-title"><a href="/"><img src="../../images/logo.png" /></a></div>
          <div class="nav-items">
            <a class="navbar-item" href="/"> Home </a>
            <a class="navbar-item" href="/post"> Create Post </a>
            <a class="navbar-item" href="/profile"> Profile </a>
          </div>
          {{#if logged_in}}
          <div class="logout-nav">
            <button class="main-button" id="logout">
              <span>Logout</span>
              <svg
                fill="#000000"
                height="20"
                width="20"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 384.971 384.971"
                xml:space="preserve"
              >
                <g id="Sign_Out">
                  <path
                    d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03
			C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03
			C192.485,366.299,187.095,360.91,180.455,360.91z"
                  />
                  <path
                    d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279
			c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179
			c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"
                  />
                </g>
              </svg>
            </button>
            </div>
        {{else}}
        <div class="logout-nav">
            <button class="main-button">
              <span><a href="/login">Login</a></span>
              <svg
                fill="#000000"
                height="20"
                width="20"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 384.971 384.971"
                xml:space="preserve"
              >
                <g id="Sign_Out">
                  <path
                    d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03
			C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03
			C192.485,366.299,187.095,360.91,180.455,360.91z"
                  />
                  <path
                    d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279
			c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179
			c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"
                  />
                </g>
              </svg>
            </button></div>
        {{/if}}
        </div>
      </nav>
    </header>

    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
      <script src="script.js"></script>
    {{/if}}
  </body>
</html>

    {{!-- <header class="section hero-banner">
      <nav class="level is-mobile">
        <button
          class="button is-info level-item has-text-centered home-page-button"
          id="homebtn"
        ><a href="/">Home</a></button>
        <button
          class="button is-info level-item has-text-centered home-page-button"
          id="homebtn"
        ><a href="/post">Create Post</a></button>
        <button
          class="button is-info level-item has-text-centered home-page-button"
          id="homebtn"
        ><a href="/profile">Profile</a></button>
        {{#if logged_in}}
          <button
            class="button is-danger level-item has-text-centered home-page-button"
            id="logout"
          >Logout</button>
        {{else}}
          <button
            class="button level-item has-text-centered is-success home-page-button"
            id="homebtn"
          ><a href="/login">Login</a></button>
        {{/if}}
      </nav>
    </header> --}}