
<div class="row">
  <div class="col-auto">
    <h1 class="post-title">Welcome, {{ user.username }}!</h1>
  </div>
</div>


<div id="postBox">
  <div class="row mt-4">
    <div class="col-md-6">
      <h2 id="createNew">Create a New Post!</h2>

      <form class="form new-project-form" action="/upload" method="POST" enctype="multipart/form-data">
        <div id="postyBox" class="form-group">
          <h3 id="postTitle" for="project-name">Title:</h3>
          <input class="form-input" type="text" id="project-name" name="project-name" />
        </div>
        <span id="imgBox">
          <h3 id="addImage">Choose Image: </h3>
          <span class="file is-boxed">
            <label class="file-label">
              <input class="file-input" type="file" name="image" id="imageUpload" accept="image/*">
            </label>
          </span>
          <div id="imagePreview"></div>
          <h3>*Compatible Filetypes: jpeg, jpg, png, gif</h3>
        </span>
        <span class="field">
          <div class="control">
            <div class="field">
              <div class="form-group" id="theText">
                <h3 id="description" for="project-desc">Description:</h3>
                <textarea class="textarea" id="project-desc" name="project-desc"></textarea>
              </div>
            </div>
          </div>
        </span>
        <div id="theButtons">
          <div class="control">
            <button id="submitBtn" class="button is-link" type="submit">Submit</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" type="reset">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    {{!-- <div class="col-md-6">
    </div> --}}
  </div>
</div>

<script src="/js/post.js"></script>

