#postBox {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.post-title {
    text-align: center;
    gap:1%;
}

input {
    height:25px;
}

#theButtons {
    margin-top: 8%;
    display: flex;
    gap: 10px;
}

.single-post {
    margin:5%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.post-image {
    border-radius: 10px;
    width: 500px;
    height: 300px;
  }

.heart-icon {
    width: 20px;
    height: 20px;
}

.file-label {
    margin-left: 15%;
}

.new-project-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}



  